#chart_card {
    width: 90%;
    padding: 50px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
}

#chart_section {
    padding: 100px 10px;
    width: 100%;
}

#chart {
    width: 100%;
}

#button_container {
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*************BUTTON STYLING************/

.button {
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 14px 40px;
    width: auto;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    border-radius: 40px;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.button:hover {
    background-color: #3e8e41
}