#chart_container {
    background-color: #fafafc;
    height: auto;
    padding: 50px 30px;
    width: auto;
}

#area {
    height: auto;
    width: auto;
    display: flex;
    justify-content: flex-end;
}

#chart_wrapper {
    width: 90%;
}

#chart_header_container {
    width: 100%;
    font-size: 28px;
    color: #484076;
    text-align: initial;
    display: flex;
    justify-content: center;
}

#chart_header {
    width: 90%;
    padding: 20px;
}

#side_button {
    position: relative;
    background-color: #2077D1;
    border: none;
    height: 100%;
    border-radius: 50px 0px 0px 50px;
    width: 50%;
    font-size: 20px;
    color: white;
}

#side_button_text {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 20px;
    color: white;
}

#side_button_icon {
    font-size: 20px;
    color: white;
}

#side_text_div {
    height: fit-content;
}